
extends ../layout/main
block variable
  -
    var title_page = 'project'
    var id_page = 'home'
    var class_page = 'home '
    var home_menu = [
      {title: "ПРО ПРОЄКТ", url: '#about'},
      {title: "ПЕРЕВАГИ", url: '#advantages'},
      {title: "ПЛАНУВАННЯ", url: '#plannings'},
      {title: "ХАРАКТЕРИСТИКИ", url: '#characteristics'},
      {title: "АЕРООБЛІТ", url: '#aeroview'},
      {title: "КАРТА", url: '#infrastructure'},
      {title: "ХІД РОБІТ", url: '#construction'},
      {title: "ДОКУМЕНТИ", url: '#documents'},
      {title: "ЗАБУДОВНИК", url: '#developer'},
      {title: "ГАЛЕРЕЯ", url: '#gallery'},
      {title: "КОНТАКТИ", url: '#contact-screen'},
    ];
    var slides = [
      './assets/images/home/home-front-screen.jpg',
      './assets/images/home/home-front-screen2.jpg'
    ]

block meta
  title= 'Avalon Magnolia - місце, де розквітають моменти'
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/home.bundle.js')
  <style>
    |  .sketch__image {
    |    background-image: url(./assets/images/index/sketch.jpg);
    |  }
    |  @media screen and (min-width: 1025px) {
    |    .sketch__image {
    |      background-image: url(./assets/images/index/sketch-desktop.jpg);
    |      background-size: cover;
    |    }
    |  }
    </style>
block content
  .sketch(data-sketch)
    .sketch__title1(data-sketch-scene1-title) AVALON MAGNOLIA
    .sketch__title1(data-sketch-scene-end-title) місце де розквітають моменти
    .sketch__image(data-sketch-image)
    
    .sketch__title2(data-sketch-scene1-title) вул. Пасічна 154, Львів
    .sketch__title2.sketch__title2--large(data-sketch-scene-end-title) 
      div а також у нас є
      <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M9.23088 20.7253C8.31815 20.6595 9.01056 21.9182 9.85476 22.3718C11.7955 23.5845 14.0224 24.3064 15.7214 25.9082C16.2 26.3593 16.7859 26.4244 17.3638 26.1303C17.9844 25.8143 18.578 25.4443 19.1784 25.0897C20.6805 24.2027 22.1618 22.8093 23.6619 21.9182C24.3539 21.5071 23.8866 21.3429 23.6551 21.4625C22.2872 22.1694 21.4118 22.7586 20.064 23.5013C19.1801 23.9883 18.3572 24.5846 17.4868 25.0975C16.8587 25.4676 16.3266 25.2987 15.7214 24.8695C14.5116 24.0115 13.2077 23.2864 11.9509 22.4933C11.0364 21.9163 10.1332 21.3214 9.23088 20.7253Z" fill="#394049"/>
        <path d="M16.1902 14.729C16.2918 18.0924 16.2301 21.461 16.2356 24.8274C16.2376 26.0081 17.2469 26.5767 17.2109 25.0083C17.1139 20.7877 16.9 16.5654 16.9696 12.3474C17.0018 10.4003 17.2653 8.44162 17.7445 6.53574C17.8967 5.92468 16.8784 5.94883 16.5486 7.73002C16.1161 10.0563 16.1188 12.3606 16.1902 14.729Z" fill="#394049"/>
      </svg>

  .front-screen
    .front-screen__bg
      .swiper-container(data-front-screen-slider)
          .swiper-wrapper
            each val in slides
              .swiper-slide
                picture 
                  source(srcset=val, media="(min-width: 601px)")
                  source(srcset=val, media="(max-width: 600px)")
                  img(src=val, alt="", srcset="", loading="lazy")
      <style data-remove-style-on-load>
        | .front-screen__decor, .front-screen__title { opacity: 0; }
      </style>
    .front-screen__content
      <svg class="front-screen__decor" xmlns="http://www.w3.org/2000/svg" width="219" height="246" viewBox="0 0 219 246" fill="none">
        <g opacity="0.6">
          <path d="M23.3984 96.4851C21.2787 92.0405 22.3021 89.0838 26.6846 86.9216C34.0078 83.31 41.4079 79.8426 48.6221 76.0251C53.702 73.3372 58.9543 71.3014 64.4814 69.7556C74.7715 66.8774 83.1285 69.8157 89.9775 77.6843C91.9599 79.9613 93.7468 82.4068 95.9219 85.153C96.0001 84.1644 96.0731 83.6846 96.0713 83.2058C96.0384 75.5759 98.7745 68.7611 102.193 62.1286C103.795 59.0193 105.312 55.863 106.785 52.6902C108.098 49.8634 109.918 47.4847 112.448 45.655C113.709 44.7423 114.953 43.805 116.214 42.8933C119.942 40.1977 122.739 36.8544 124.042 32.3239C124.555 30.5389 125.357 28.7958 126.281 27.1794C127.537 24.9843 129.083 24.5705 131.38 25.6902C135.447 27.6735 138.657 30.6475 140.953 34.5407C144.545 40.6303 146.772 47.1873 147.465 54.2429C146.808 51.8238 146.233 49.3799 145.476 46.9929C143.883 41.9705 142.162 36.9075 138.488 33.0202C136.126 30.5214 133.143 28.5923 130.352 26.5251C128.99 25.5172 127.733 26.011 126.975 27.4675C126.199 28.9558 125.354 30.4485 124.869 32.0398C123.453 36.6932 120.867 40.529 116.823 43.156C111.167 46.8292 107.308 51.7276 104.941 58.0446C103.151 62.8263 100.728 67.3694 98.7949 72.1032C97.9717 74.1204 97.6032 76.3415 97.165 78.4968C95.4597 86.8957 98.0279 90.7119 105.117 95.2927C113.041 100.413 118.32 107.212 120.878 116.19C121.364 117.897 121.48 119.71 121.808 121.727C124.513 118.484 127.877 120.176 131.239 119.961C131.135 118.6 131.231 117.227 130.895 115.969C130.002 112.63 130.006 109.335 130.661 105.96C131.017 104.13 131.075 102.233 131.157 100.362C131.215 99.0495 130.617 98.4809 129.139 98.4988C126.753 98.5269 124.338 98.3918 121.981 98.0251C119.163 97.5859 116.741 96.2029 114.731 94.1384C112.373 91.716 111.303 88.9205 112.496 85.6237C113.774 82.0938 114.986 78.5112 116.622 75.1433C120.761 66.6208 127.993 65.4686 134.438 72.4353C137.367 75.6002 140.566 78.0901 144.433 79.9509C146.536 80.9629 148.323 82.6365 150.442 84.1472C151.876 80.3287 151.516 76.388 150.981 72.4362C151.337 74.4381 151.748 76.434 152.024 78.447C152.145 79.3214 151.988 80.2348 151.944 81.5495C154.094 78.4638 155.981 75.6971 157.937 72.9782C158.804 71.7724 159.688 70.5331 160.774 69.5368C164.879 65.7754 169.029 62.0568 173.244 58.4206C176.049 56.0013 179.304 54.5342 182.924 54.446C182.506 58.8122 182.099 63.0668 181.691 67.322C180.72 63.3849 181.459 59.5012 182.008 55.5632C179.947 58.2114 179.79 61.531 178.765 64.53C179.219 61.609 179.674 58.689 180.214 55.2194C177.735 56.7518 175.266 58.0053 173.124 59.6755C170.787 61.4976 168.978 64.0441 166.54 65.6804C159.638 70.3114 155.966 77.4406 151.669 84.1013C151.399 84.52 151.467 85.5552 151.798 85.905C155.501 89.804 158.722 94.3169 164.655 95.3034C166.062 95.5376 166.881 95.4405 167.837 94.4919C172.606 89.7593 176.313 84.4073 177.872 77.7585C177.802 78.5732 177.875 79.4315 177.639 80.195C176.181 84.9018 173.705 89.0284 170.356 92.6384C169.289 93.7889 168.222 94.9415 167.066 96.1911C168.091 96.807 168.845 97.2598 169.765 97.8122C172.395 94.8735 175.116 92.1771 177.43 89.1677C181.132 84.3491 181.663 78.5873 181.652 72.7448C181.649 70.9039 181.685 69.0631 181.702 67.2234C182.641 75.6059 182.731 83.8513 177.146 90.9489C175.389 93.1826 173.339 95.1881 171.412 97.2859C170.593 98.1775 170.604 98.8753 171.399 99.9236C173.95 103.279 173.581 106.93 172.004 110.657C173.844 110.524 175.604 110.263 177.357 110.297C181.933 110.386 185.982 111.942 189.408 115.016C190.968 116.416 191.954 118.068 191.906 120.27C191.74 127.871 193.553 135.189 195.221 142.517C196.826 149.569 197.382 156.581 195.369 163.67C193.827 169.1 190.613 173.23 186.141 176.523C184.303 177.876 182.378 177.777 180.414 177.021C173.445 174.339 166.556 171.497 160.685 166.711C160.145 166.27 159.564 165.88 159.063 165.511C161.652 169.362 164.425 173.144 166.83 177.146C170.298 182.918 172.7 189.123 173.401 195.898C173.865 200.373 173.053 204.566 170.642 208.382C168.427 211.886 166.143 215.347 163.854 218.805C162.95 220.173 161.754 221.196 159.972 220.841C151.221 219.092 143.139 216.009 137.073 209.051C132.442 203.739 130.372 197.434 130.089 190.491C129.895 185.721 129.383 181.055 126.441 176.547C123.994 177.679 121.36 178.61 119.025 180.032C111.677 184.507 103.507 185.704 95.1826 186.286C90.3846 186.622 87.5508 183.541 85.2773 179.886C81.24 173.398 77.3018 166.846 73.1133 159.977C71.7627 161.806 70.4983 163.464 69.293 165.163C66.2619 169.437 63.5897 174.018 60.1631 177.944C55.1733 183.66 48.5917 186.739 40.9063 186.626C37.0484 186.569 33.1796 185.893 29.3613 185.233C27.8166 184.966 26.2885 184.159 24.9395 183.305C22.4686 181.743 22.1807 180.115 23.918 177.811C25.1891 176.125 25.4347 174.268 25.3301 172.295C25.1649 169.187 24.8456 166.084 24.7686 162.975C24.4593 150.525 28.383 142.78 38.3428 135.848C36.3219 134.342 34.1258 132.973 32.2549 131.252C28.9158 128.18 27.2441 124.124 26.7939 119.71C26.3688 115.538 26.2027 111.309 26.3447 107.119C26.4562 103.817 26.0192 100.81 24.21 98.0329C23.8927 97.5463 23.6495 97.0101 23.3984 96.4851ZM179.094 172.359C178.752 173.962 179.275 175.312 180.779 176.152C182.348 177.029 183.973 177.474 185.441 176.061C187.395 174.181 189.587 172.427 191.088 170.219C195.832 163.246 196.664 155.371 195.243 147.28C193.791 139.012 191.963 130.809 190.204 122.106L190.203 122.106C188.543 124.754 186.714 127.13 185.456 129.777C181.651 137.783 179.669 146.108 181.584 155.052C182.456 159.128 181.885 163.172 180.529 167.118C179.941 168.828 179.471 170.589 179.094 172.359ZM140.129 145.985C140.218 149.973 142.331 152.365 145.347 154.428C149.882 157.531 154.272 160.862 158.577 164.28C164.718 169.156 171.467 172.895 179.073 175.846C177.581 173.153 178.346 170.744 179.193 168.445C181.014 163.501 181.376 158.511 180.38 153.342C179.615 149.373 179.416 145.338 180.415 141.375C182.18 134.377 184.305 127.527 188.985 121.778C190.647 119.737 190.555 118.591 188.694 116.689C184.503 112.404 179.341 110.719 173.467 111.63C172.056 111.848 170.525 112.774 169.514 113.823C165.921 117.549 162.675 121.616 158.999 125.252C157.22 127.011 154.886 128.324 152.602 129.419C150.83 130.267 148.73 130.412 146.81 130.982C146.318 131.127 145.694 131.635 145.576 132.091C145.015 134.282 144.424 136.493 144.187 138.734C143.857 141.871 142.955 144.56 140.129 145.985ZM127.646 176.531C130.519 181.052 131.028 185.992 131.177 191.022C131.211 192.185 131.347 193.349 131.501 194.505C132.7 203.546 137.282 210.475 145.229 214.782C149.399 217.042 154.061 218.44 158.584 219.986C161.257 220.9 162.058 220.427 163.578 218.02C165.479 215.009 167.257 211.917 169.214 208.942C172.103 204.547 172.973 199.792 172.201 194.641C170.649 184.271 166.037 175.359 159.384 167.387C154.41 161.43 147.851 157.43 141.682 152.946L141.681 152.947C141.489 153.007 141.296 153.067 141.104 153.127C141.902 155.07 142.636 157.042 143.52 158.945C144.199 160.409 145.165 161.742 145.822 163.214C146.524 164.783 146.259 166.202 145.233 167.749C142.76 171.479 139.043 173.147 135.06 174.446C132.682 175.221 130.243 175.807 127.646 176.531ZM114.957 92.8991C116.779 95.4131 119.473 96.8786 122.599 97.3318C125.274 97.7199 128.04 97.9149 130.729 97.7048C141.209 96.8863 151.127 99.0791 160.677 103.123C164.56 104.768 168.134 107.038 170.331 111.127C172.94 107.859 172.906 103.518 170.359 100.491C168.583 98.3794 166.243 97.1813 163.694 96.3044C157.079 94.0289 150.287 92.7334 143.278 92.7517C133.846 92.7759 124.414 92.8478 114.957 92.8991ZM132.648 98.0896C131.484 105.601 130.054 112.637 132.734 119.736L133.021 119.685C135.989 119.23 138.387 120.925 140.376 123.543C140.797 124.097 141.431 124.486 141.953 124.967C143.465 126.362 144.968 127.766 146.912 129.573C150.195 129.331 154.219 128.773 157.212 125.693C161.044 121.751 164.661 117.602 168.427 113.593C169.622 112.319 169.799 110.985 168.635 109.815C166.962 108.134 165.238 106.391 163.232 105.174C157.387 101.625 150.82 99.9553 144.161 98.8698C140.246 98.2315 136.214 98.3081 132.648 98.0896ZM113.447 87.3327C112.594 89.7877 113.698 91.2066 116.304 91.5661C118.726 91.9007 121.208 91.9725 123.658 91.9216C134.7 91.6925 145.763 90.3877 157.307 92.9597C155.6 91.1115 154.286 89.6863 152.969 88.2653C149.387 84.4036 145.583 80.9085 140.626 78.7312C138.643 77.8602 137.067 76.0216 135.373 74.5476C134.255 73.5751 133.349 72.347 132.189 71.4372C127.602 67.8367 122.042 68.3386 119.279 73.236C116.798 77.6371 115.118 82.5306 113.447 87.3327ZM147.47 54.2605L147.467 54.2605C147.466 54.2547 147.465 54.2486 147.465 54.2429C147.466 54.2486 147.468 54.2548 147.47 54.2605ZM76.9922 147.136C71.7148 146.501 69.8578 149.336 72.0166 154.275C72.2239 154.749 72.4185 155.262 72.751 155.64C75.263 158.503 77.7796 161.362 80.3506 164.171C83.884 168.031 87.6406 171.704 90.9541 175.742C92.6119 177.762 94.2633 178.829 96.7402 178.155C100.173 177.22 103.522 175.958 106.977 175.124C112.245 173.851 117.572 172.824 122.875 171.692C122.201 171.904 121.533 172.137 120.852 172.324C114.929 173.959 109.006 175.592 103.08 177.212C100.711 177.859 98.3509 178.566 95.9492 179.063C93.7135 179.526 91.7834 178.761 90.5762 176.785C86.291 169.767 79.3964 165.247 73.9287 159.327C74.0464 159.905 74.2352 160.438 74.5264 160.908C76.9838 164.873 79.4508 168.832 81.9346 172.781C83.9305 175.955 85.8333 179.198 88.0059 182.248C89.6517 184.559 92.1864 185.633 94.999 185.326C102.482 184.511 109.986 183.616 116.705 179.831C121.439 177.164 126.455 175.401 131.735 174.16C134.801 173.44 137.76 172.197 140.684 170.99C141.768 170.542 142.619 169.524 143.972 168.454C141.643 168.691 139.921 168.867 138.201 169.042L138.204 169.041C139.834 168.64 141.476 168.281 143.091 167.829C145.358 167.193 146.114 165.729 145.22 163.533C144.735 162.343 144.095 161.189 143.361 160.133C141.619 157.622 140.655 154.883 140.266 151.85C140.042 150.11 139.349 148.43 138.794 146.462C136.75 148.245 135.09 149.893 133.231 151.269C130.309 153.432 127.28 153.776 124.034 151.635C122.625 150.706 120.876 150.166 119.204 149.785C117.105 149.307 115.511 148.322 114.384 146.505C113.404 144.925 112.379 143.373 111.359 141.788C110.98 141.941 110.677 142.052 110.384 142.182C105.762 144.252 101.172 146.339 95.8564 145.692C94.4831 145.525 92.984 145.801 91.6279 146.178C86.8031 147.521 81.9721 147.736 76.9922 147.136ZM112.826 139.323C112.733 140.193 112.426 141.202 112.738 141.923C113.505 143.696 114.575 145.338 115.891 147.692L115.888 147.693C116.748 148.054 118.098 148.705 119.507 149.189C121.087 149.733 122.809 149.933 124.312 150.624C128.799 152.686 130.798 152.368 134.42 149.024C135.917 147.642 137.633 146.479 139.336 145.345C141.269 144.06 142.7 142.404 143.067 140.124C143.571 136.999 144.041 133.838 144.098 130.684C144.122 129.286 143.358 127.673 142.485 126.507C141.259 124.868 139.62 123.531 138.116 122.108C136.731 120.798 135.112 120.181 133.147 120.443C131.369 120.681 129.569 120.845 127.776 120.866C125.664 120.89 123.629 120.959 121.973 122.539C121.667 122.831 121.196 122.994 120.773 123.112C118.537 123.738 116.789 124.876 115.965 127.199C115.714 127.907 115.192 128.546 114.699 129.137C113.442 130.644 113.289 132.332 113.387 134.236C113.473 135.917 113.008 137.623 112.826 139.323ZM139.379 132.415C139.482 131.895 139.46 131.015 139.713 130.926C140.353 130.702 141.119 130.834 142.274 130.816L142.275 130.816C141.868 131.735 141.732 132.555 141.431 132.622C140.793 132.761 140.068 132.507 139.379 132.415ZM137.032 138.676C136.938 138.651 137.059 137.827 137.098 137.016L137.098 137.015C138.043 137.235 138.668 137.379 139.293 137.523C139.179 137.976 139.139 138.774 138.937 138.818C138.33 138.948 137.645 138.842 137.032 138.676ZM133.285 125.861C133.036 125.566 133.241 124.887 133.249 123.969C134.124 124.353 134.821 124.453 135.095 124.847C135.285 125.123 135.03 126.087 134.732 126.225C134.362 126.397 133.563 126.189 133.285 125.861ZM130.241 130.142C131.262 130.259 131.981 130.199 132.517 130.483C132.7 130.582 132.589 131.916 132.33 132.028C131.804 132.254 131.026 132.164 130.474 131.926C130.248 131.827 130.337 131.003 130.241 130.142ZM129.542 139.554C129.699 139.005 129.714 138.32 130.062 137.95C130.311 137.683 131.007 137.835 132.007 137.764C131.549 138.801 131.41 139.503 130.987 139.904C130.791 140.089 130.041 139.689 129.542 139.554ZM129.8 145.929C130.664 146.121 131.561 146.212 131.566 146.34C131.596 147.028 131.538 147.801 131.216 148.38C131.098 148.589 130.161 148.341 129.599 148.302C129.656 147.62 129.714 146.938 129.8 145.929ZM124.519 137.98L124.519 137.981C125.347 138.118 126.038 138.061 126.448 138.372C126.664 138.537 126.518 139.723 126.316 139.79C125.74 139.983 125.05 139.838 124.404 139.827C124.436 139.308 124.468 138.789 124.519 137.98ZM26.6777 88.1882C23.3016 89.9435 22.4758 92.1602 23.9111 95.7234C24.2011 96.4425 24.5302 97.1581 24.9326 97.8191C26.7657 100.826 27.2797 104.049 26.876 107.532C26.271 112.739 26.7189 117.891 28.1689 122.939C29.6212 127.994 32.7258 131.727 37.3096 134.274C43.6421 137.793 50.2743 137.539 56.9609 135.708C63.8376 133.825 70.6701 131.773 77.5117 129.763C88.2404 126.611 98.4045 127.686 107.989 133.63C109.327 134.459 110.893 134.922 112.797 135.746L112.796 135.745C111.819 132.295 112.844 129.858 115.006 127.785C115.319 127.485 115.51 127.027 115.679 126.61C116.37 124.899 117.56 123.737 119.236 122.941C119.687 122.728 120.179 121.846 120.095 121.372C118.343 111.628 114.227 103.19 105.695 97.654C101.609 95.0021 98.5227 91.6286 95.7158 87.7497C92.837 83.7709 89.7705 79.8766 86.3887 76.3249C81.3489 71.0335 75.0537 68.4649 67.7051 70.0319C63.0432 71.0266 58.2591 72.1138 53.9853 74.1257C44.7278 78.4844 35.7631 83.464 26.6777 88.1882ZM24.7041 178.093C23.6561 180.415 23.547 181.157 25.6846 182.594C26.4315 183.097 27.2393 183.566 28.0869 183.851C41.4636 188.335 54.2299 185.385 62.5 173.762C65.8012 169.122 68.9742 164.39 72.1406 159.657C72.4225 159.236 72.3792 158.451 72.2236 157.912C71.6299 155.865 70.6982 153.89 70.3174 151.81C69.6803 148.333 71.6173 146.166 75.1289 146.095C76.0975 146.076 77.0819 146.127 78.0381 146.278C82.2044 146.937 86.2915 146.663 90.374 145.596C92.1151 145.142 93.9828 144.736 95.7461 144.882C100.622 145.287 104.872 143.56 109.193 141.708C111.393 140.766 112.389 139.309 112.616 137.218C110.86 136.459 109.258 135.821 107.707 135.078C105.958 134.241 104.32 133.139 102.521 132.445C93.6007 129.003 84.5789 128.939 75.4258 131.627C68.7124 133.598 61.9524 135.435 55.1494 137.067C50.5541 138.169 45.8499 138.098 41.3125 136.579C39.8255 136.081 38.791 136.333 37.5771 137.216C29.8417 142.835 26.4923 150.736 25.9033 159.942C25.648 163.936 26.17 167.976 26.0342 171.984C25.9644 174.045 25.5464 176.227 24.7041 178.093Z" fill="#EFECE4"/>
        </g>
      </svg>
      .front-screen__title місце, де розквітають моменти
      <svg class="front-screen__arrow" data-home-down width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_9005_70)" data-first>
        <path transform="translate(0 0)" d="M33.2309 44.7253C32.3181 44.6595 33.0105 45.9182 33.8547 46.3718C35.7955 47.5845 38.0223 48.3064 39.7213 49.9082C40.2 50.3593 40.7859 50.4244 41.3638 50.1303C41.9844 49.8143 42.578 49.4443 43.1784 49.0897C44.6805 48.2027 46.1618 46.8093 47.6618 45.9182C48.3539 45.5071 47.8866 45.3429 47.6551 45.4625C46.2872 46.1694 45.4118 46.7586 44.064 47.5013C43.1801 47.9883 42.3572 48.5846 41.4867 49.0975C40.8587 49.4676 40.3266 49.2987 39.7213 48.8695C38.5116 48.0115 37.2077 47.2864 35.9509 46.4933C35.0364 45.9163 34.1332 45.3214 33.2309 44.7253Z" fill="#EFECE4"/>
        <path transform="translate(0 0)" d="M40.1901 38.729C40.2917 42.0924 40.23 45.461 40.2356 48.8274C40.2375 50.0081 41.2468 50.5767 41.2108 49.0083C41.1138 44.7877 40.9 40.5654 40.9695 36.3474C41.0017 34.4003 41.2653 32.4416 41.7444 30.5357C41.8966 29.9247 40.8783 29.9488 40.5485 31.73C40.116 34.0563 40.1187 36.3606 40.1901 38.729Z" fill="#EFECE4"/>
        </g>
        <g clip-path="url(#clip0_9005_70)" data-second >
        <path transform="translate(0 0)" d="M33.2309 44.7253C32.3181 44.6595 33.0105 45.9182 33.8547 46.3718C35.7955 47.5845 38.0223 48.3064 39.7213 49.9082C40.2 50.3593 40.7859 50.4244 41.3638 50.1303C41.9844 49.8143 42.578 49.4443 43.1784 49.0897C44.6805 48.2027 46.1618 46.8093 47.6618 45.9182C48.3539 45.5071 47.8866 45.3429 47.6551 45.4625C46.2872 46.1694 45.4118 46.7586 44.064 47.5013C43.1801 47.9883 42.3572 48.5846 41.4867 49.0975C40.8587 49.4676 40.3266 49.2987 39.7213 48.8695C38.5116 48.0115 37.2077 47.2864 35.9509 46.4933C35.0364 45.9163 34.1332 45.3214 33.2309 44.7253Z" fill="#EFECE4"/>
        <path transform="translate(0 0)" d="M40.1901 38.729C40.2917 42.0924 40.23 45.461 40.2356 48.8274C40.2375 50.0081 41.2468 50.5767 41.2108 49.0083C41.1138 44.7877 40.9 40.5654 40.9695 36.3474C41.0017 34.4003 41.2653 32.4416 41.7444 30.5357C41.8966 29.9247 40.8783 29.9488 40.5485 31.73C40.116 34.0563 40.1187 36.3606 40.1901 38.729Z" fill="#EFECE4"/>
        </g>
        <rect x="0.5" y="0.5" width="79" height="79" rx="39.5" stroke="#EFECE4" stroke-opacity="0.2"/>
        <defs>
        <clipPath id="clip0_9005_70">
        <rect width="80" height="80" rx="40" fill="white"/>
        </clipPath>
        </defs>
      </svg>
  section(data-sketch-play="0").sketch-section
  section(data-sketch-play="1" id="sport-zone").sketch-section
    .card
      .card__title Спортивна зона
      .card__text Тренуйся, коли зручно: просто у своєму будинку. Простір поділений на зону для кардіо тренувань, силових вправ з обладнанням та тренажерами, зал для занять пілатесом та сайкл зона.
      .card__bottom
        .card__link(data-sketch-popup-open data-sketch-popup-content="sport-zone-popup") 
          span ДЕТАЛЬНІШЕ
          <svg class="link__graphic link__graphic--slide" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
            <path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"></path>
          </svg>
        include ../components/card/card-icon.svg
      .card__number 1
    .gallery-block
      .gallery-block__title Спортивна зона
      .gallery-block__item
        .gallery-block__image
          img(loading="lazy" src="./assets/images/index/sport-zone/image 1.jpg", alt="", srcset="")
      .gallery-block__item
        .gallery-block__image
          img(loading="lazy" src="./assets/images/index/sport-zone/image 2.jpg", alt="", srcset="")
      .gallery-block__item
        .gallery-block__image
          img(loading="lazy" src="./assets/images/index/sport-zone/image 3.jpg", alt="", srcset="")
  section(data-sketch-play="2" id="spa-zone").sketch-section
    .card.card--reverse
      .card__title спа зона
      .card__text Місце, де відпочинок набуває сенсу. Сауна, джакузі, сінна кімната та масажний кабінет — усе, щоб перезавантажитися без потреби виходити з дому.
      .card__bottom
        .card__link(data-sketch-popup-open data-sketch-popup-content="spa-zone-popup") 
          span ДЕТАЛЬНІШЕ
          <svg class="link__graphic link__graphic--slide" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
            <path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"></path>
          </svg>
        include ../components/card/card-icon.svg
      .card__number 2
    .gallery-block
      .gallery-block__title спа зона
      .gallery-block__item
        .gallery-block__image
          img(loading="lazy" src="./assets/images/index/spa-zone/image 1.jpg", alt="", srcset="")
      .gallery-block__item
        .gallery-block__image
          img(loading="lazy" src="./assets/images/index/spa-zone/image 2.jpg", alt="", srcset="")
      .gallery-block__item
        .gallery-block__image
          img(loading="lazy" src="./assets/images/index/spa-zone/image 3.jpg", alt="", srcset="")
  section(data-sketch-play="3" id="cafe-zone").sketch-section
    .card
      .card__title кафе та коворкінг
      .card__text Місце для ідей, розмов і нових проєктів. Кафе, лобі, де все створене для відпочинку та спілкування, коворкінг — усе це в одному будинку.
      .card__bottom
        .card__link(data-sketch-popup-open data-sketch-popup-content="cafe-zone-popup") 
          span ДЕТАЛЬНІШЕ
          <svg class="link__graphic link__graphic--slide" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
            <path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"></path>
          </svg>
        include ../components/card/card-icon.svg
      .card__number 3
    .gallery-block
      .gallery-block__title кафе та коворкінг
      .gallery-block__item
        .gallery-block__image
          img(loading="lazy" src="./assets/images/index/cafe-and-coworking/image 1.jpg", alt="", srcset="")
      .gallery-block__item
        .gallery-block__image
          img(loading="lazy" src="./assets/images/index/cafe-and-coworking/image 2.jpg", alt="", srcset="")
      .gallery-block__item
        .gallery-block__image
          img(loading="lazy" src="./assets/images/index/cafe-and-coworking/image 3.jpg", alt="", srcset="")
      .gallery-block__item
        .gallery-block__image
          img(loading="lazy" src="./assets/images/index/cafe-and-coworking/image 4.jpg", alt="", srcset="")
  section(data-sketch-play="4" id="roof").sketch-section
    .card.card--reverse
      .card__title Експлуатований дах
      .card__text Простір для відпочинку, зустрічей і особливих моментів — просто на даху.
      .card__bottom
        .card__link(data-sketch-popup-open data-sketch-popup-content="roof-popup") 
          span ДЕТАЛЬНІШЕ
          <svg class="link__graphic link__graphic--slide" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
            <path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"></path>
          </svg>
        include ../components/card/card-icon.svg
      .card__number 4
    .gallery-block
      .gallery-block__title Експлуатований дах
      .gallery-block__item
        .gallery-block__image
          img(loading="lazy" src="./assets/images/index/roof/image 1.jpg", alt="", srcset="")
      .gallery-block__item
        .gallery-block__image
          img(loading="lazy" src="./assets/images/index/roof/image 2.jpg", alt="", srcset="")
  section(data-sketch-play="5" id="library").sketch-section
    .card
      .card__title Бібліотека
      .card__text Тиша, книги і натхнення. Простір, де хочеться зупинитися й перевести подих.
      .card__bottom
        .card__link(data-sketch-popup-open data-sketch-popup-content="library-popup") 
          span ДЕТАЛЬНІШЕ
          <svg class="link__graphic link__graphic--slide" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
            <path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"></path>
          </svg>
        include ../components/card/card-icon.svg
      .card__number 5
    .gallery-block
      .gallery-block__title Бібліотека
      .gallery-block__item
        .gallery-block__image
          img(loading="lazy" src="./assets/images/index/library/image 1.jpg", alt="", srcset="")
      .gallery-block__item
        .gallery-block__image
          img(loading="lazy" src="./assets/images/index/library/image 2.jpg", alt="", srcset="")
  section(data-sketch-play="6" id="kids-zone").sketch-section
    .card.card--reverse
      .card__title Дитячий простір
      .card__text Безпечне і яскраве дитинство — просто біля дому. Тут діти граються, знайомляться і відкривають світ.
      .card__bottom
        .card__link(data-sketch-popup-open data-sketch-popup-content="kids-zone-popup") 
          span ДЕТАЛЬНІШЕ
          <svg class="link__graphic link__graphic--slide" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
            <path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"></path>
          </svg>
        include ../components/card/card-icon.svg
      .card__number 6
    .gallery-block
      .gallery-block__title Дитячий простір
      .gallery-block__item
        .gallery-block__image
          img(loading="lazy" src="./assets/images/index/kids-zone/image 1.jpg", alt="", srcset="")
      .gallery-block__item
        .gallery-block__image
          img(loading="lazy" src="./assets/images/index/kids-zone/image 2.jpg", alt="", srcset="")
  section(data-sketch-play="7").sketch-section
  section.info-section(data-sketch-end)
    .info-section__card.info-section__card--card1
      div.info-section__card-title Закритий двір
      div.info-section__card-text Приватність і спокій — частина щоденного життя в Avalon Magnolia. Закритий двір дарує мешканцям відчуття безпеки й тиші, навіть у серці міста.
    .info-section__decor1
      include ../components/info-section/double-flower.svg
    .info-section__img.info-section__img--first
      .info-section__img-wrap
        img(loading="lazy" src="./assets/images/index/info-section1/info-section1-1.jpg", alt="", srcset="")
    .info-section__card.info-section__card--card2
      div.info-section__card-title Колясочні
      div.info-section__card-text Зручні кімнати для зберігання колясок, велосипедів та іншого — щоби все необхідне було під рукою. Без хаосу в коридорах і сходових клітках.
    .info-section__decor2
      include ../components/info-section/open-flower.svg
    .info-section__img.info-section__img--second
      .info-section__img-wrap
        img(loading="lazy" src="./assets/images/index/info-section1/info-section1-2.jpg", alt="", srcset="")
  section.info-section2
    .info-section2__title(data-split-lines-and-fade-up) Дизайнерські місця загального користування
    .info-section2__text(data-split-lines-and-fade-up) Легкі форми, природні матеріали, гармонійне освітлення — усе створено, щоб з перших кроків відчувалась турбота про комфорт. Тут хочеться затриматися, а не поспішати.
    .info-section2__img
      .info-section2__img-wrap
        img(loading="lazy" src="./assets/images/index/info-section2.jpg", alt="", srcset="")
  section.info-section3
    .info-section3__title.title1(data-split-lines-and-fade-up) Підземний паркінг
    .info-section3__text.text1(data-split-lines-and-fade-up) Зручний підземний паркінг — це комфорт за будь-якої погоди. Ліфт доставить тебе з паркінгу прямо на твій поверх.
    .info-section3__img1
      .info-section3__img1-wrap
        img(loading="lazy" src="./assets/images/index/info-section3/img1.jpg", alt="", srcset="")
    .info-section3__title.title2(data-split-lines-and-fade-up) Зручна інфраструктура (кафе, магазини, школи, лісопарк)
    .info-section3__text.text2(data-split-lines-and-fade-up) Жити в Avalon Magnolia — означає мати все поруч. Кафе, магазини, школи й навіть лісопарк — у кількох хвилинах від дому. Для життя без зайвого клопоту й витрат часу на дорогу.
    .info-section3__img2
      .info-section3__img2-wrap
        img(loading="lazy" src="./assets/images/index/info-section3/img2.jpg", alt="", srcset="")
    .info-section3__title.title3(data-split-lines-and-fade-up) Резервне живлення
    .info-section3__text.text3(data-split-lines-and-fade-up) Резервне живлення забезпечує безперебійну роботу ліфтів. Комфорт і безпека — завжди на першому місці.
    .info-section3__img3
      .info-section3__img3-wrap
        img(loading="lazy" src="./assets/images/index/info-section3/img3.jpg", alt="", srcset="")
  section.info-section4
    .info-section4__card.card1
      .info-section4__card-title Зарядка для електрокарів
      .info-section4__card-text На території комплексу передбачені зарядки для електрокарів. Щоби транспорт мешканців завжди був у русі.
    .info-section4__decor
      include ../components/info-section/semiopen-flower.svg
    .info-section4__img
      .info-section4__img-wrap
        <picture>
          <source srcset="./assets/images/index/info-section4/info-section4-desktop.jpg" media="(min-width: 601px)">
          <source srcset="./assets/images/index/info-section4/info-section4.jpg" media="(max-width: 600px)">
          <img src="#", alt="", srcset="" loading="lazy"/>
        </picture>
        //- img(loading="lazy" src="./assets/images/index/info-section4/info-section4.jpg", alt="", srcset="")
    .info-section4__card.card2
      .info-section4__card-title Зручна інфраструктура
      .info-section4__card-text Безпечне і яскраве дитинство — просто біля дому. Тут діти граються, знайомляться і відкривають світ.
  section.tech-info(id="tech-info")
    .tech-info__bg
      <picture>
        <source srcset="./assets/images/index/tech-info-bg-desktop.jpg" media="(min-width: 601px)">
        <source srcset="./assets/images/index/tech-info-bg.jpg" media="(max-width: 600px)">
        <img src="#", alt="", srcset="" loading="lazy"/>
      </picture>
      //- img(loading="lazy" src="./assets/images/index/tech-info-bg.jpg", alt="", srcset="")
    .tech-info__title(data-split-lines-and-fade-up) Технічні Характеристики
    .tech-info__group
      div Дата здачі
      div.half-opacity IV квартал 2025
      div.half-opacity IV квартал 2025
      div.half-opacity IV квартал 2026
    .tech-info__group
      div Черги
      div.half-opacity 1-3
      div.half-opacity 4
      div.half-opacity 5
    .tech-info__group
      div Клас жк
      div.half-opacity бізнес
    .tech-info__group
      div Перший внесок
      div.half-opacity від 10%
    .tech-info__group
      div Розстрочка
      div.half-opacity до здачі в експлуатацію
    .tech-info__group
      div Локація
      a(target='_blank' href="https://maps.app.goo.gl/UxCCQmASp4TZm5Jd6").half-opacity вул. Пасічна 154, Львів
  include ../includes/contact-screen.pug
block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug