@font-face {
	font-family: 'Alethia Next';
	font-display: swap;
	src: url('../fonts/AlethiaNext All/AlethiaNext-Light.otf') format('opentype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Alethia Next';
	font-display: swap;
	src: url('../fonts/AlethiaNext All/AlethiaNext-Light.otf') format('opentype');
	font-weight: 350;
	font-style: normal;
}
@font-face {
	font-family: 'Alethia Next';
	font-display: swap;
	src: url('../fonts/AlethiaNext All/AlethiaNext-Regular.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'GraphikLCG';
	font-display: swap;
	src: url('../fonts/Graphik%20All/GraphikLCG-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}